<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
  <div class="container-fluid">
    <a class="navbar-brand" href="error">
        <img src="https://img.utdstc.com/icon/029/483/0294836416816f51f0abeed79ddf2ae6b5c7a7fe9f6f7fa5740a03e6906a8f14:200" alt="" width="35" height="35">
      Schoology</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="mostrar()" class="nav-link active" aria-current="page" routerLink="login">Identifícate</a>
        </li>
        <div *ngIf="bandera">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="nomina">Nómina</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="productos">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="guardados">Guardados</a>
        </li>
        <li class="nav-item">
        </li></div>
      </ul>
    </div>
        <div><input  *ngIf="search" type="text"></div>
        <div><button (click)="buscar()">Buscar</button></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="profile">Tu perfil</a>
      </li>
    </ul>
  </div>
</nav>