<form>
    <div class="mb-1" class="col-lg-6 offset-lg-3 ">
      <label for="exampleInputEmail1" class="form-label">Selecciona tu nombre de usuario</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3" class="col-lg-6 offset-lg-3 ">
      <label for="exampleInputPassword1" class="form-label">Elige una contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
      <div id="emailHelp" class="form-text">La contraseña debe tener una longitud entre 8-20 caracteres, debe tener letras y números, sin espacios ni caracteres especiales.</div>
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
    <div class="text-center">
        <a href="login" class="btn btn-dark btn-sm btn-space">Iniciar sesión</a>
        <a href="#" class="btn btn-dark btn-sm">Atrás</a>
    </div>
  </form>